<div class="container">
  <div class="row">
    <div class="form1 col-md-7">
      <h2 class="animated animatedFadeInUp fadeInUp heading">Explore what Micro Focus can do for you</h2>
      <p class="info-text fade-in featured-text">Please select which solutions you wish to explore below</p>
      <div class="form-content">

        <div class="box" *ngFor="let cat of categories">
          <div class="left-text">
            <div class="checkbox checkbox-primary">
              <input id="{{cat.id}}_checkbox" type="checkbox" [(ngModel)]="cat.checked" checked="">
              <label for="{{cat.id}}_checkbox"></label>
            </div>
            <div class="box-info">
              <div class="mf-title">{{ cat.name }}</div>
              <p>{{ cat.description }}</p>
            </div>
          </div>
          <div class="right-text mf-savings">Save {{ cat.savings | currency: dollar }} / year</div>
          <div class="extra-detail" *ngIf="cat.checked">
            <img src="assets/TempImage.png" width="auto" class="detail-image" alt="">
          </div>
        </div>

        <a class="btn btn-primary" routerLink="/begin" routerLinkActive="active">Change Information</a>
      </div>
    </div>

    <div class="col-md-5">
      <app-helper-box></app-helper-box><!-- For now I'll make the tooltip Absolute with this box as the parent. Later we'll have it move on mouse hover -->
    </div>
  </div>
</div>