@import "../../assets/css/_buttons.css";
@import "../../assets/css/_forms.css";
@import "../../assets/css/_animations.css";

.mf-calc {
    padding: 50px 20px;
}

.mf-solutions-list {
    position: relative;
}

.box {
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #00CFFB;
    margin: 15px 0;
    background-color: white;
    overflow: hidden;
}

.mf-title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #293138;
    padding: 20px 0 9px;
    margin: 0 15px 11px;
}

.mf-subtitle {
    font-size: 14px;
}

.mf-solution-desc {
    font-size: 14px;
    padding: 15px 30px 0 30px;
}

.mf-solution-cta {
    position: relative;
    background: #881FD3;
    padding: 15px 30px;
    margin-top: 15px;
}

.mf-savings {
    text-align: center;
    color: white;
    padding: 7px 0;
    font-size: 20px;
}

.mf-change-btn {
    float: right;
}

@media (min-width: 750px) {
    .mf-savings {
        float: right;
    }
}