<div class="mf-calc container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="animated fade-in-up heading">Explore what Micro Focus can do for you</h2>
      <p class="animated fade-in info-text mf-subtitle">Please review our solutions below</p>

      <div class="animated fade-in"><a routerLink="/begin" routerLinkActive="active">&#8249; Change Information</a></div>
    </div>
    <div class="mf-solutions-list col-12">
      <div class="box row animated fade-in" style="animation-delay: .2s;" *ngFor="let cat of categories">
        <div class="col-12">
          <div class="mf-title">
            {{ cat.name }}
          </div>
        </div>

        <div class="mf-solution-desc col-md-4" [innerHTML]="cat.description">
            <!-- {{ cat.description }} -->
        </div>

        <div class="mf-charts col-md-8">
          <app-charts [data]="cat.savings.yearRoi"></app-charts>
        </div>

        <div class="mf-solution-cta col-12">
            <a class="btn btn-light" href="#">Learn More</a> <div class="mf-savings">Save {{ cat.savings.savings | currency: dollar }} / year</div>
        </div>
      </div>
      <a class="btn btn-primary mf-change-btn" href="#">Contact Me</a>
    </div>
  </div>
</div>