body.mf-app {
    overflow-x: hidden;
    background-color: rgb(221, 248, 255); /* I intentionally added grey/made lighter than the blue in the template, because too much blue is a washout (on my monitor). Hope that's okay. */
}

body.mf-app * {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

body.mf-app p {
    font-size: 12px;
}

body.mf-app h1 {
    font-size: 48px;
    font-weight: 200;
}

body.mf-app h2 {
    font-size: 30px;
    font-weight: 200;
}

body.mf-app h3 {
    font-size: 25px;
    font-weight: 200;
}

body.mf-app h4 {
    font-size: 20px;
}

input,
select,
button,
a, link {
    font-size: 12px;
}

input {
    border-radius: 20px;
 }


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animatedFadeInUp {
    opacity: 0
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
  }
  
  .fade-in {
    opacity:0;  /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: .5s;
  
  }

  .fade-in.btn {
    animation-delay: .5s;
  }
  
  .fade-in.info-text {
    animation-delay: .4s;
  }
  
  .fadeInUp.heading {
  
  }
  
  .fade-in.pie {
    animation-delay: .1s;
  }