body.mf-app {
    overflow-x: hidden;
    background-color: rgb(221, 248, 255); /* I intentionally added grey/made lighter than the blue in the template, because too much blue is a washout (on my monitor). Hope that's okay. */
}

body.mf-app * {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    /* color: #293138; */ /* For some reason this forces FontAwesome fonts to be black. I can't override this with this here. I'll need to iron that out later. */
}

body.mf-app p {
    font-size: 12px;
}

body.mf-app h1 {
    font-size: 48px;
    font-weight: 200;
}

body.mf-app h2 {
    font-size: 40px;
    font-weight: 200;
}

body.mf-app h3 {
    font-size: 30px;
    font-weight: 200;
}

body.mf-app h4 {
    font-size: 20px;
    font-weight: 500;
}

input,
select,
button,
a, link {
    font-size: 12px;
}

input {
    border-radius: 20px;
 }

.featured-text {
    font-size: 16px;
}