@import "../../assets/css/_buttons.css";

.mf-sub-text {
  font-size: 14px;
  line-height: 24px;
}

.home-objects {
  justify-content: center;
}

.spacing-divs {
  height: calc(100vh - 56px);
}

.main-stuff {
padding-top: 32vh;
height: calc(100vh - 56px);

max-width: 800px;
display: inline-flex
}

/* Pie animation here */
.pie {
margin-right: 50px;
margin-top: 20px;
}

.back {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 150px;
    background-color: #B9DCFC;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
  }
  
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    clip: rect(0, 150px, 150px, 75px);
  }
  
  .part {
    background-color: #3D90F9;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    clip: rect(0, 75px, 150px, 0px);
  }
  
  .anim {
    animation: progress 2.5s;
    animation-fill-mode: forwards;
  }
  
/* Keyframes */

@keyframes progress
{
from {transform: rotate(0)}
to {transform: rotate(135deg)}
} 

  
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* Media Queries */

@media (max-width: 835px) {
  .pie {
  display: none;
  }
  .main-stuff {
    max-width: 360px;
  }
  }






