<div style="text-align:center">
  <alert type="success">App loaded. Welcome to {{ title }}</alert>
 </div>
<div class="row home-objects">
  <div class="col-5 home-left" >

    <div class="pie">
      <div class="back">
          <div class="mask">
          <div class="part anim">
          </div>
        </div>
        <div class=hole>
          </div>
      </div>
      
      
    </div>
  </div>
    <div class="col home-right"> 
      <h1 class="heading">Calculate your ROI from <br> choosing Micro Focus</h1>
      <nav>
        <a routerLink="/about" routerLinkActive="active">Our Solutions</a>
        <a routerLink="/calculator" routerLinkActive="active">Let's Begin</a>
      </nav>
    </div>

</div>
 <router-outlet></router-outlet>