@import "../../assets/css/_buttons.css";

.home-objects {

}

.home-left {
  height: calc(100vh - 56px);
}

.home-right {
text-align: left;
height: calc(100vh - 56px);
}

.main-stuff {
padding-top: 32vh;
max-width: 440px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration: .5s;

}

.fade-in.btn-primary {
  animation-delay: .6s;
}

.fade-in.btn-light {
  animation-delay: .5s;
}

.fade-in.info-text {
  animation-delay: .4s;
}

.fadeInUp.heading {

}

.fade-in.pie {
  animation-delay: .1s;
}



/* Pie animation here */
.pie {
 position: absolute;
 left: calc(-150px - 8px); /* adding a margin distance */
 padding-top: calc(32vh + 26px);
}
.back {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 150px;
    background-color: #B9DCFC;
  }
  
  .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .part {
    background-color: #3D90F9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    clip: rect(0px, 75px, 150px, 0px);
  }
  
  .anim {
    animation: progress 2.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes progress
  {
  from {transform: rotate(0)}
  to {transform: rotate(135deg)}
  } 

  
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}