/* These can be imported into any CSS file where global elements need to be overwritten. I'll be putting Mirco Focus specific styling in here */

/* Buttons */

.btn-light {
    color: #355ED4;
    border-color: blue;
    background-color: white;
    border-width: thin;
  }

.btn-light:hover, .btn-light:focus, .btn-light:active {
    background-color: #355ED4;
    color: white;
  } 

.btn-primary {
    background-color: #355ED4; 
}
  
.btn-primary:hover, btn-primary:focus, btn-primary:active {
    color: #355ED4;
    background-color: white;
}

.btn-primary.mf-featured-cta {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn {
    border-radius: 99px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 14px 22px;
    margin-right: 11px;
    min-width: 140px;
    text-align: center;
    color: white;
}

/* Checkboxes */

.checkbox { 
    user-select: none;
    padding-left: 0;
    margin-right: 20px;
 }
.checkbox label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -17px;
    top: 7px;
    margin-left: 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 28px;
    left: -19px;
    top: -1px;
    margin-left: -1px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 30px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  