@import "../../assets/css/_buttons.css";

.mf-questn {
    padding: 3% 0;
}

.mf-questn-form {
    text-align: right;
}

.mf-questn-form .mf-input-row {
    padding: 10px 0;
    position: relative;
}

.mf-questn-form .mf-input-row label {
    margin-right: 30px;
    font-weight: 500;
}

.mf-questn-form .mf-input-row input[type=text] {
    border-radius: 6px;
    border: 3px solid #00CFFB;
    padding: 13px 18px 11px;
    font-size: 14px;
    -webkit-transition: .3s border-color;
    transition: .3s border-color;
    color: #881FD3;
    position: relative;
    width: 100px;
}

.mf-questn-form .mf-input-row.percentage:after {
    content: '%';
    position: absolute;
    right: 2.6%;
    top: 50%;
    margin-top: -1.8%;
    color: #BCE0FD;
    font-size: 14px;
}

.mf-questn-form .mf-input-row.dollar:after {
    content: '$';
    position: absolute;
    right: 14.5%;
    top: 50%;
    margin-top: -1.8%;
    color: #BCE0FD;
    font-size: 14px;
}

.mf-questn-form .mf-input-row.dollar input[type=text] {
    padding-left: 25px;
}

.mf-questn-form .mf-input-row input[type=text]::placeholder {
    color: #BCE0FD;
}

.mf-questn-form .mf-input-row input[type=text]:focus {
    outline: none;
    border-color: #0078EF;
}

.mf-questn-form .mf-cont-btn {
    margin-top: 40px;
}

.mf-tooltip {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,.16);
    width: 360px;
    overflow: hidden;
}

.mf-tooltip img{
    display: block;
    width: 100%;
    height: 150px;
    background-color: #00CFFB;
}

.mf-tooltip .mf-desc {
    background: white;
    padding: 20px;
}