<div class="mf-questn container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="animated fade-in-up mf-title">Tell us a little about your organization</h2>
      <div class="mf-questn-form">

        <div class="mf-input-row animated fade-in-up" style="animation-delay: .2s;">
          <label for="num_staff">Number of Staff</label>
          <input [(ngModel)]="mfNumStaff" id="num_staff" name="num_staff" type="text" placeholder="0">
        </div>
        <div class="mf-input-row percentage animated fade-in-up" style="animation-delay: .3s;">
          <label for="annual_turnover">Annual Turnover (%)</label>
          <input [(ngModel)]="mfAnTurnover" id="annual_turnover" name="annual_turnover" type="text" placeholder="0.0">
        </div>
        <div class="mf-input-row dollar animated fade-in-up" style="animation-delay: .4s;">
          <label for="avg_wage">Average Hourly Wage</label>
          <input [(ngModel)]="mfAvgWage" id="avg_wage" name="avg_wage" type="text" placeholder="0.00">
        </div>
        <div class="mf-input-row dollar animated fade-in-up" style="animation-delay: .5s;">
          <label for="avg_it">Average IT Hourly Wage</label>
          <input [(ngModel)]="mfAvgItWage" id="avg_it" name="avg_it" type="text" placeholder="0.00">
        </div>
        <div class="mf-input-row animated fade-in-up" style="animation-delay: .6s;">
          <label for="num_app">Number of Applications</label>
          <input [(ngModel)]="mfNumApps" id="num_app" name="num_app" type="text" placeholder="0">
        </div>
        <a class="btn btn-primary mf-cont-btn" routerLink="/savings">continue</a>

      </div>
    </div>
    <div class="col-md-5 offset-md-1 animated fade-in" style="animation-delay:.5s;">
      <app-helper-box></app-helper-box>
    </div>
  </div>
</div>