<div class="mf-questn container">
  <div class="row">
    <div class="col-md-6">
      <h2 style="margin-left: 28%">Tell us a little about your organization</h2>
      <div class="mf-questn-form">

        <div class="mf-input-row">
          <label for="num_staff">Number of Staff</label>
          <input id="num_staff" name="num_staff" type="text" placeholder="0">
        </div>
        <div class="mf-input-row percentage">
          <label for="annual_turnover">Annual Turnover (%)</label>
          <input id="annual_turnover" name="annual_turnover" type="text" placeholder="0.0">
        </div>
        <div class="mf-input-row dollar">
          <label for="avg_wage">Average Hourly Wage</label>
          <input id="avg_wage" name="avg_wage" type="text" placeholder="0.00">
        </div>
        <div class="mf-input-row dollar">
          <label for="avg_it">Average IT Hourly Wage</label>
          <input id="avg_it" name="avg_it" type="text" placeholder="0.00">
        </div>
        <div class="mf-input-row">
          <label for="num_app">Number of Applications</label>
          <input id="num_app" name="num_app" type="text" placeholder="0">
        </div>
        <a class="btn btn-primary mf-cont-btn" routerLink="/savings">continue</a>

      </div>
    </div>
    <div class="col-md-6">
      <app-helper-box></app-helper-box>
    </div>
  </div>
</div>