@import "../../assets/css/_buttons.css";
@import "../../assets/css/_animations.css";

.mf-questn {
    padding: 3% 30px;
    position: relative;
}

.container {
    min-height: calc(100vh - 80px);
}

.mf-questn-form {
    text-align: right;
}

.mf-questn-form .mf-input-row {
    padding: 10px 0;
    position: relative;
}

.mf-questn-form .mf-input-row label {
    margin-right: 30px;
    font-weight: 500;
}

.mf-questn-form .mf-input-row input[type=text] {
    border-radius: 6px;
    border: 3px solid #00CFFB;
    padding: 13px 18px 11px;
    font-size: 14px;
    -webkit-transition: .3s border-color;
    -o-transition: .3s border-color;
    transition: .3s border-color;
    color: #881FD3;
    position: relative;
    width: 100px;
}

.mf-questn-form .mf-input-row.percentage:after {
    content: '%';
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -9px;
    color: #BCE0FD;
    font-size: 13px;
}

.mf-questn-form .mf-input-row.dollar:after {
    content: '$';
    position: absolute;
    right: 78px;
    top: 50%;
    margin-top: -9px;
    color: #BCE0FD;
    font-size: 13px;
}

.mf-questn-form .mf-input-row.dollar input[type=text] {
    padding-left: 25px;
}

.mf-questn-form .mf-input-row input[type=text]::-webkit-input-placeholder {
    color: #BCE0FD;
}

.mf-questn-form .mf-input-row input[type=text]:-ms-input-placeholder {
    color: #BCE0FD;
}

.mf-questn-form .mf-input-row input[type=text]::-ms-input-placeholder {
    color: #BCE0FD;
}

.mf-questn-form .mf-input-row input[type=text]::placeholder {
    color: #BCE0FD;
}

.mf-questn-form .mf-input-row input[type=text]:focus {
    outline: none;
    border-color: #0078EF;
}

.mf-questn-form .mf-cont-btn {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .mf-title {
        margin-left: 28%;
    }
}