<div [attr.style]="tooltipStyle" class="mf-tooltip">
  <img src="#" alt="">
  <div class="mf-desc">
    <h4>{{ _data.title }}</h4>
    <p>{{ _data.description }}</p>
    <a href="#" class="mf-learn-more">Learn More</a>
  </div>
</div>



<!-- <div class="helper-box">

<div class="blue-top"></div>
<div class="text">
<h4>The Micro Focus Difference</h4>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
</div>

<div class="learn-more">Learn More</div>

</div> -->