<!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->

<a class="navbar-brand" href="#" >
  <img src="/assets/MicroFocusLogo.png" height="30" width="auto" class="d-inline-block align-top" alt="">
</a>
<!-- V In case we ever decide we actually want buttons for our navbar -->
<!--   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <button class="btn btn-light my-2 my-sm-0" routerLink="/about" routerLinkActive="active">Our Solutions <span class="sr-only">(current)</span></button>
    </li>

    <li class="nav-item active">
        <button class="btn btn-light my-2 my-sm-0" style="margin-left: 7px;" routerLink="/calculator" routerLinkActive="active">Let's Begin <span class="sr-only">(current)</span></button>
    </li>
  </ul>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button type="submit" class="btn btn-light my-2 my-sm-0" >Search</button>
  </form>

</div> -->