@import "../assets/css/_buttons.css";

nav.navbar {
  background: white;
  padding: 19px 50px;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color: #272A2A;
}

/* a:hover{
  color: white;
} */



