@import "../assets/css/_buttons.css";


.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    background-color: #272A2A;
    text-align: center;
    color: white;
  }

input {
  border-radius: 20px;
}



 

/* a:hover{
  color: white;
} */



